* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 14px;
	font-family: Helvetica;
}

.fblock {
	width: 100%;
}

#wrap {
	/*background: yellow;*/
	width: 100%;
	max-width: 1050px;
	margin: 0 auto;
	padding-top: 120px;
	color: #353535;
}

.not_found {
	font-size: 4em;
	text-align: center;
	width: 100%;
	/*background: pink;*/
}

.nf {
	font-size: 1.6em;
	margin: 0 auto;
	margin-top: 20px;
	width: 100%;
	text-align: center;
}

.ch_r {
	width: 70%;
	height: 120px;
	margin: 0 auto;
	margin-top: 40px;
}

.mcb {
	/*background: yellow;*/
	float: left;
	width: 50%;
	height: 70%;
	text-align: center;
}

.bkb {
	/*background: pink;*/
	float: left;
	width: 50%;
	height: 70%;
	text-align: center;
}

.bot {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	/*background: silver;*/
}

.bot img {
	height: 100%;
	margin-top: 0px;
	float: left;
	margin-left: 20%;
}

.resb {
	padding: 10px;
	background: rgb(254, 130, 32);
	border: 0px solid black;
	border-color: rgb(254, 130, 32);
	box-shadow: rgb(150, 150, 150) 0px 1px 5px;
	font-weight: bold;
	color: white;
	float: left;
	margin-top: 25px;
	margin-left: 20px;
	font-size: 0.9em;
	cursor: pointer;
}


/*----------------for tablets----------------*/
@media screen and (min-width: 768px) and (max-width: 1350px){
#wrap {
	width: 90%;
	margin: 0 auto;
}

.not_found {
	font-size: 3.4em;
	text-align: center;
	width: 100%;
	/*background: pink;*/
}

.bot img {
	height: 100%;
	margin-top: 0px;
	float: left;
	margin-left: 12%;
}

.ch_r {
	width: 80%;
	height: 120px;
	margin: 0 auto;
	margin-top: 40px;
}
}

/*---------------------for mobile------------------*/
@media screen and (max-width: 767px) {
#wrap {
	padding-top: 40px;
	width: 90%;
	padding-bottom: 20px;
}

.not_found {
	font-size: 3.4em;
	text-align: center;
	width: 100%;
	/*background: pink;*/
}
.ch_r {
	width: 90%;
	height: 120px;
	margin: 0 auto;
	margin-top: 40px;
}
}