.empty {
	clear: both;
}

#current {
	margin-top: 20px;
	width: 100%;
	height: 150px;
	/*background: gold;*/
}

#manage {
	width: 100%;
	
}

.left_menu_button {
	display: block;
	background: gray;
	text-align: center;
	width: 75%;
	margin: 20px auto;
	padding: 10px 0;
	font-size: 0.88em;
	color: white;
}

.small_title {
	background: gray;
	color: white;
	border: 1px solid black;
	text-align: center;
	font-size: 1em;
	padding: 10px 0;
}

.page_table {
	float: left;
	/*background: yellow;*/
	width: 70%;
	margin-left: 50px;
	margin-top: 20px;
	empty-cells: hide;
}

.td {
	border: 1px solid black;
	width: 24%;
	font-size: 0.9em;
	height: 2.3em;
	box-sizing: border-box;
	padding-left: 10px;
}

.first_td {
	width: 4%;
	text-align: center;
	border: 1px solid black;
}


.table_title {
	text-align: center;
	font-size: 1em;
	height: 3em;
}

/*-----------add_user----------*/
.current_text {
	/*background: green;
	color: white;*/
	font-size: 0.9em;
	display: block;
	float: left;
	width: 20%;
	margin-left: 20px;
	margin-top: 20px;
	margin-right: 15%;
}

.ct_value {
	float: right;
	font-style: italic;
}

#add_user_form {
	margin-top: 30px;
	float: left;
	margin-left: 40px;
	width: 60%;
	/*background: pink;*/
}

.tab_tit {
	background: gray;
	color: white;
	float: left;
	width: 31%;
	border: 1px solid black;
	padding: 5px;
}

.tab_input {
	border: 1px solid black;
	float: left;
	width: 31%;
	padding: 5px;
}

#add_user_button {
	margin-left: 40px;
	margin-top: 40px;
	width: 150px;
	height: 40px;
	line-height: 2.5em;
	background: red;
	color: white;
	text-align: center;
	float: left;
}

/*--------del_user----------*/
.del_user_butt {
	background: #d50017;
	color: white;
	width: 18px;
	height: 18px;
	margin-top: 3px;
	text-align: center;
	margin-left: 10px;
	display: block;
	cursor: pointer;
}

/*-----------edit_user--------*/
.td_edit {
	border: 1px solid black;
	width: 24%;
	font-size: 0.9em;
	height: 2.3em;
	box-sizing: border-box;
}

.td_div {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	padding: 10px;
}

.edit_user_button {
	background: blue;
	color: white;
	padding: 8px;
	margin-left: 10px;
	cursor: pointer;
}